html {
  font-size: 16px;
}
body {
  background: #a9e1d4;
  margin: 0;
  padding: 25px;
  color: #2f4657;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
}
h1,
h2 {
  font-weight: 600;
}
.site-header {
  text-align: center;
}
section {
  max-width: 80%;
  margin: 0 auto;
}
.welcome p {
  max-width: 80%;
  margin: 1em auto;
}
.section-row.two {
  text-align: center;
}
.btn {
  background: #9c5ab9;
  color: #fff;
  border: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 1.1rem;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.btn::before {
  display: block;
  height: 100%;
  width: 0;
  background: rgba(255, 255, 255, 0);
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
.btn:hover::before,
.btn:focus::before {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
}
.btn.reset-quiz {
  background: #2f4657;
  width: 0;
  overflow: hidden;
  padding: 10px 0;
  transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
}
.btn.reset-quiz.show {
  width: 98px;
  padding: 10px 20px;
}
.btn.reset-quiz::before {
  left: auto;
  right: 0;
}
.quiz {
  transition: max-width 0.4s ease 0s;
  -webkit-transition: max-width 0.4s ease 0s;
}
.quiz-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 2%;
}
.quiz-inner > div {
  flex-basis: 50%;
  box-sizing: border-box;
  padding: 2%;
}
.quiz-questions {
  position: relative;
  display: none;
}
.active-question-highlight {
  background: #fff;
  transition: position 0.4s ease 0s;
  -webkit-transition: position 0.4s ease 0s;
  position: absolute;
  left: 50%;
  width: 0;
  height: 0;
  opacity: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  padding: 0;
}
.fieldset-container {
  margin: 0 0 10px 0;
  padding: 2%;
  position: relative;
}
legend {
  margin-bottom: 15px;
}
.input-wrapper {
  position: relative;
}
input {
  position: absolute;
  opacity: 0;
}
label {
  font-weight: 300;
  display: block;
  padding-left: 40px;
  margin-bottom: 10px;
  position: relative;
  line-height: 1.3;
}
label::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 100%;
  position: absolute;
  left: 8px;
  top: calc(50% - 10px);
  border: 1px solid #2f4657;
  box-sizing: border-box;
  cursor: pointer;
}
label::after {
  display: block;
  content: "";
  border-radius: 100%;
  position: absolute;
  width: 14px;
  height: 14px;
  left: 11px;
  top: calc(50% - 7px);
  background: #2f4657;
  box-sizing: border-box;
  opacity: 0;
  transition: opacity 0.2s ease 0s;
  -webkit-transition: opacity 0.2s ease 0s;
  cursor: pointer;
}
label.selected::after {
  opacity: 1;
}
.answer {
  display: none;
}
.shape {
  width: 100%;
  height: 400px;
}
.shape canvas {
  margin: 0 auto;
  max-width: 100%;
}
.calculating {
  display: none;
}
.calculating h3 {
  text-align: center;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #68a6a5;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #a9e1d4;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #a9e1d4;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media (max-width: 1199px) {
  .quiz {
    max-width: 100%;
  }
}
@media (max-width: 1023px) {
  .quiz-inner {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .active-question-highlight {
    margin-left: -2%;
  }
}
